.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 133, 194, 0.551);
    width: 280px;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}
.card img {
    padding-top: 3%;
    padding-left: 9%;
    border-radius: 12%;
    width: 230px;
    height: 180px;  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}
.content {
    padding: 5%;
    padding-top: 0%;
}
